@model Dev_Blog.ViewModels.SubscriptionViewModel

@{
    ViewData["Title"] = "Edit Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Subscribe</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="subscribeForm" asp-action="Edit" asp-route-token="@Model.Token">
            <partial name="_SubscriptionViewModelEditor" model="Model" />

            <div class="form-group recaptcha">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <p class="small">
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.
            </p>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        var tags;
        const siteKey = "@ViewData["recaptcha-public-key"]"
        function onSubscribeAllChanged(element) {
            tags.prop("disabled", element.is(":checked"));
        }

        $(document).ready(function () {
            var subscribeToAll = $("input[name='SubscribedToAll']");
            tags = $("select[name='Tags']");
            subscribeToAll.change(function () {
                onSubscribeAllChanged($(this));
            });

            onSubscribeAllChanged(subscribeToAll);
        });
    </script>
    <environment include="Development">
        <script src="~/js/subscribe.js" asp-append-version="true"></script>
    </environment>
}