@{
    ViewData["Title"] = "Validate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Validate your email</h1>

<p>Please either click on the link in the email you've received, or enter the received token here:  </p>
<form asp-action="ValidateEmail">
    <div class="form-group row">
        <label class="col-2" for="token">Email</label>
        <input class="col-4" name="email" type="email" value="@ViewData["Email"]" data-val="true" data-val-required="The email is required" />
        <span class="field-validation-valid error col-6" data-valmsg-for="email" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group row">
        <label class="col-2" for="token">Email token</label>
        <input class="col-4" name="token" type="text" data-val="true" data-val-required="The token is required" data-form-type="text"/>
        <span class="field-validation-valid error col-6" data-valmsg-for="token" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group row">
        <div class="col-3">
            <input type="submit" value="Validate email" class="btn btn-primary" />
        </div>
    </div>
</form>