@{
    ViewData["Title"] = "Validate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Validate your email</h1>

<p>Please either click on the link in the email you've received, or enter the received token here:  </p>
<form id="subscribeForm" asp-action="Validate">
    <div class="form-group row">
        <label class="col-2" for="token">Email</label>
        <input class="col-md-4" name="email" type="email" value="@ViewData["Email"]" data-val="true" data-val-required="The email is required" />
        <span class="field-validation-valid error col-6" data-valmsg-for="email" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group row">
        <label class="col-2" for="token">Email token</label>
        <input class="col-md-4" name="token" type="text" data-val="true" data-val-required="The token is required" data-form-type="text" />
        <span class="field-validation-valid error col-6" data-valmsg-for="token" data-valmsg-replace="true"></span>
    </div>
    <input type="hidden" name="ReCaptchaResponse"/>

    <div class="form-group row">
        <div class="col-3">
            <input type="submit" value="Validate email" class="btn btn-primary recaptcha" />
        </div>
    </div>
    <p class="small">
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </p>
</form>

@section Scripts {
    <script>const siteKey = "@ViewData["recaptcha-public-key"]"</script>
    <environment include="Development">
        <script src="~/js/subscribe.js" asp-append-version="true"></script>
    </environment>
}