@model Dev_Blog.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Log in</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LogIn" asp-route-returnUrl="@ViewData["ReturnUrl"]" id="loginForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <input asp-for="ReCaptchaResponse" />
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary recaptcha" />
            </div>
            <p class="small">
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        const siteKey = "@ViewData["recaptcha-public-key"]"
        document.addEventListener('DOMContentLoaded', () => {
            $("#loginForm .recaptcha").click(function (e) {
                var form = $("#loginForm");
                if (!form.valid()) {
                    return;
                }

                e.preventDefault();
                e.stopPropagation();
                e.stopImmediatePropagation();

                grecaptcha.ready(function () {
                    grecaptcha.execute(siteKey, { action: "submit" }).then(function (token) {
                        document.getElementsByName("ReCaptchaResponse")[0].value = token;
                        $("#loginForm").removeData("validator").removeData("unobtrusiveValidation");//remove the form validation
                        $.validator.unobtrusive.parse($("#loginForm"));//add the form validation

                        if ($("#loginForm").valid()) {
                            $("#loginForm").submit();
                        }
                    });
                });
            });
        });
    </script>
}