@model Dev_Blog.Models.Post

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ShowPublishedDate"] = false;
}

<section>
    <partial name="~/Views/Post/_PostPartial.cshtml" model="Model" />
</section>