@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*TODO: Replace static text with text fetched from the database*@

<article>
    <header>
        <h1>About Tourmi.dev</h1>
        <h3>Last updated : 2021/01/05</h3>
    </header>
    <p>
        Tourmi.dev is a blog and personal site created by me, Tourmi.
        I made it so I could document my experiences with development and music for future reference, and to potentially allow others to learn a bit more information in both of those domains.
        Hopefully this website will help out those who encounter similar problems
    </p>
    <h2>Development</h2>
    <p>
        I have around 2 cumulative years of work experience in the IT domain, and I'm a third year IT undergrad student. 
        My current goal is to finish university with a Master's in Video Game Development.
        I'm not yet super experienced in the domain, however I can still get by pretty well.
    </p>
    <h2>Music</h2>
    <p>
        I've been making music since 2012, however I haven't released anything since 2016. 
        I hope to eventually be able to get back into music production once I get more free time for it.
    </p>
</article>