aside {
    padding-bottom: 1em;
}

.sidebar-content {
    height: 100%;
    border-radius: 10px;
    background-color: var(--preview-bg-color);
    border: solid 5px var(--border-color);
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    margin-bottom: 1em;
    transition: background-color ease 0.5s, border-color ease 0.5s;
}

    .sidebar-content hr {
        border-top: 5px solid var(--border-color);
        border-radius: 10px;
    }

    .sidebar-content p {
        font-size: 1.2em;
        line-height: 1em;
        margin-bottom: 0;
        font-weight: 600;
    }

    .sidebar-content ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .sidebar-content li {
        border-left: solid 2px var(--border-color);
        padding-left: 10px;
        margin-left: 10px;
        padding-bottom: 1em;
    }

    .sidebar-content > div > ul > li {
        border-left: none;
        margin-bottom: 0.5em;
    }

        .sidebar-content > div > ul > li > ul > li > ul > li {
            padding-bottom: 0.5em;
        }

    .sidebar-content a[aria-expanded="false"] .fa-chevron-down, .sidebar-content a[aria-expanded="true"] .fa-chevron-right {
        display: none;
    }

    .sidebar-content #popular-posts > ul > li {
        border-left: none;
    }

    .sidebar-content #popular-posts li {
        padding-bottom: 0px;
    }
